/etc/liquidsoap/music/metal/attack.mp3
/etc/liquidsoap/music/metal/SABATON-Shiroyama.mp3
/etc/liquidsoap/music/metal/bismark.mp3
/etc/liquidsoap/music/metal/SABATON-ChristmasTruce.mp3
/etc/liquidsoap/music/metal/Pentakil-DeathfireGrasp.mp3
